<template>
  <div class="container border">
    <vue-p5
        @preload="preload"
        @setup="setup"
        @draw="draw"
        @keypressed="keyPressed"
        @mousemoved="mouseMoved"
        @mousedragged="mouseDragged">
    </vue-p5>
  </div>

</template>

<script>
import VueP5 from "vue-p5"
export default {
  name: "traveling",
  components: {
    "vue-p5": VueP5
  },
  data: () => ({
    red: 0,
    bestEver:[],
    totalCities: 10,
    population: [],
    currentRecord: Infinity,
    cities: [],
    fitness: [],
    mutationRate: 0,
    green: 255,
    popSize: 500,
    currentBest: [],
    // blue color is a computed property that changes over time
    lines: [],
    p5LogoImage: null,
    startTime: Date.now(),
    // store current time in data to force computed properties to update
    currentTime: Date.now(),
  }),
  computed: {
    msSinceStart() {
      return this.currentTime - this.startTime;
    },
    blue() {
      return Math.floor(this.msSinceStart * 0.03) % 255;
    },
    p5LogoRotationAngle() {
      return this.msSinceStart * 0.0001 % Math.PI * 2;
    }
  },
  methods: {
    preload() {

    },
    setup(p5) {
      p5.createCanvas(800, 800);
      let order = [];
      for (let i = 0; i < this.totalCities; i++) {
        let v = p5.createVector(p5.random(p5.width), p5.random(p5.height / 2));
        this.cities[i] = v
        order[i] = i
      }

      for (let i = 0; i < this.popSize; i++) {
        this.population[i] = p5.shuffle(order);
      }
      this.statusP = p5.createP('').style('font-size', '32pt');
    },
    draw(p5) {
      p5.background(0);

      // GA
      this.calculateFitness(p5);
      this.normalizeFitness();
      this.nextGeneration();

      p5.stroke(255);
      p5.strokeWeight(4);
      p5.noFill();
      p5.beginShape();
      for (let i = 0; i < this.bestEver.length; i++) {
        let n = this.bestEver[i];
        p5.vertex(this.cities[n].x, this.cities[n].y);
        p5.ellipse(this.cities[n].x, this.cities[n].y, 16, 16);
      }
      p5.endShape();
      p5.translate(0, p5.height / 2);
      p5.stroke(255);
      p5.strokeWeight(4);
      p5.noFill();

      p5.beginShape();
      for (let i = 0; i < this.currentBest.length; i++) {
        let n = this.currentBest[i];
        p5.vertex(this.cities[n].x, this.cities[n].y);
        p5.ellipse(this.cities[n].x, this.cities[n].y, 16, 16);
      }
      p5.endShape();
    },
    keyPressed({ keyCode }) {
      // 'g' key
      if (keyCode === 71) {
        this.toggleGreen();
      }
    },

    swap(a,i, j) {
      let temp = a[i]
      a[i]= a[j]
      a[j] = temp
    },
    calcDistance (points, order,p5) {
      let sum = 0;
      for (let i = 0; i < order.length - 1; i++) {
        let cityAIndex = order[i]
        let cityA = points[cityAIndex]
        let cityBIndex = order[i + 1]
        let cityB = points[cityBIndex]
        let d = p5.dist(cityA.x, cityA.y, cityB.x, cityB.y)
        sum += d
      }
      return sum
    },

    calculateFitness(p5) {
      // eslint-disable-next-line no-unused-vars
      let currentRecord = Infinity;
      for (let i = 0; i < this.population.length; i++) {
        let d = this.calcDistance(this.cities, this.population[i]);
        if (d < this.recordDistance) {
          this.recordDistance = d;
          console.log('entra')
          this.bestEver = this.population[i];
        }
        if (d < this.currentRecord) {
          currentRecord = d
          this.currentBest = this.population[i]
        }

        // This fitness function has been edited from the original video
        // to improve performance, as discussed in The Nature of Code 9.6 video,
        // available here: https://www.youtube.com/watch?v=HzaLIO9dLbA
        this.fitness[i] = 1 / (p5.pow(d, 8) + 1);
      }
    },
    normalizeFitness() {
      let sum = 0;
      for (let i = 0; i < this.fitness.length; i++) {
        sum += this.fitness[i];
      }
      for (let w = 0; w < this.fitness.length; w++) {
        this.fitness[w] = this.fitness[w] / sum
      }
    },

    nextGeneration(p5) {
      let newPopulation = [];
      for (let i = 0; i < this.population.length; i++) {
        let orderA = this.pickOne(this.population, this.fitness,p5)
        let orderB = this.pickOne(this.population, this.fitness,p5)
        let order = this.crossOver(orderA, orderB,p5)
        this.mutate(order, 0.01,p5)
        newPopulation[i] = order
      }
      this.population = newPopulation
    },
    crossOver(orderA, orderB, p5) {
      let start = p5.floor(p5.random(orderA.length))
      let end = p5.floor(p5.random(start + 1, orderA.length))
      let neworder = orderA.slice(start, end)
      // var left = totalCities - neworder.length;
      for (let i = 0; i < orderB.length; i++) {
        let city = orderB[i];
        if (!neworder.includes(city)) {
          neworder.push(city)
        }
      }
      return neworder
    },
    mutate(order, mutationRate,p5) {
      for (let i = 0; i < this.totalCities; i++) {
        if (p5.random(1) < mutationRate) {
          let indexA = p5.floor(p5.random(order.length))
          let indexB = (indexA + 1) % this.totalCities
          this.swap(order, indexA, indexB)
        }
      }
    },
    pickOne(list, prob,p5) {
      let index = 0;
      let r = p5.random(1)

      while (r > 0) {
        r = r - prob[index]
        index++
      }
      index--
      return list[index].slice()
    },

    mouseMoved({ mouseX, mouseY, pmouseX, pmouseY }) {
      this.pushLine({ mouseX, mouseY, pmouseX, pmouseY, color: 0 });
    },
    mouseDragged({ mouseX, mouseY, pmouseX, pmouseY }) {
      this.pushLine({ mouseX, mouseY, pmouseX, pmouseY, color: 255 });
    },
    toggleRed() {
      this.red = 255 - this.red;
    },
    toggleGreen() {
      this.green = 255 - this.green;
    },
    pushLine(line) {
      let lines = this.lines;
      lines.push(line);
      this.lines = lines.slice(-100);
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
